extends layout

block content
  h1 About Us

  div(style="background:white; padding:20px; border-radius:10px; width:80%; box-shadow:0 0 10px rgba(0,0,0,0.1);")
    p
      | Welcome to the Student Management System project built using Express.js and Pug.

    p
      | This application demonstrates CRUD operations:
    
    ul
      li Create Student
      li Read Student
      li Update Student
      li Delete Student

    p
      | This project is useful for beginners learning Node.js, Express.js and template engines like Pug.