extends layout

block content
  h1 Contact Us

  div(style="background:white; padding:20px; border-radius:10px; width:80%; box-shadow:0 0 10px rgba(0,0,0,0.1);")
    p
      b Email:
      |  support@studentcrud.com

    br

    p
      b Phone:
      |  +91 9876543210

    br

    p
      b Address:
      |  Delhi, India

    br

    p
      | Feel free to contact us for any queries regarding the Student Management System.